services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nobar-app
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
