services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nobar-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nobar-network

networks:
  nobar-network:
    driver: bridge
